[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest

[submodule "fmtlib"]
	path = fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "bcm2835"]
	path = bcm2835
	url = git@github.com:FranciscoMoya/bcm2835.git
